body {
    background-color: #f5f5f5;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4 {
    color: #C0045A !important;
}

.shows-content a,
.contact-content a {
    color: #C0045A !important;
}

.btn-setenta {
    color: #ffffff;
    background-color: #E03B86;
    border-color: #E03B86;
}

.btn-setenta:hover {
    color: #ffffff;
    background-color: #C0045A;
    border-color: #C0045A;
}

.shows-content a:hover, a:focus,
.contact-content a:hover, a:focus {
    color: #E03B86 !important;
    text-decoration: none;
}

.main-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    max-width: 1168px;
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.img-header {
    background-color: #0D9696;
    /*background-color: #8513A5;*/
    padding-top: 0;
    margin-top: 133px;
}

.img-header {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    height: 122px;
}

.img-header img {
    width: 25%;
}

.img-header .container {
    min-width: 500px;
}

@media (min-width: 768px) {
    .jumbotron {
        margin-bottom: 100px;
    }
}


.team-header {
    height: 20px !important;
    padding-bottom: 20px;
    margin-bottom: 0 !important;
}

.staff-content {
    margin-top: 0px !important;
    padding-bottom: 150px;
}

.staff-content .row {
    margin-bottom: 20px;
}

.footer {
    height: 70px;
    background-color: #4B0362;
}

.footer > div {
    height: 150px;
    width: 120%;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.7);
    position: relative;
    left: -10%;
}

.footer .copyright {
    margin-top: 20px;
    color: #CCCCCC;
}

.footer .copyright a {
    color: #CCCCCC;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer .copyright a:hover, .footer .copyright a:focus {
    text-decoration: none;
    color: #F5F5F5;
}

.footer {
    overflow: hidden;
}

.img-header > .container {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    padding-left: 0;
    padding-right: 0;
}

.img-header img {
    float: left;
}

.main-content {
    margin-top: 140px;
    min-height: 1000px !important;
}

.main-content .body-content {
    padding-left: 0;
}

.panel-default {
    margin-bottom: 50px;
    margin: 5px;
    margin-bottom: 20px;
}

.panel-default > .panel-heading {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #4B0362;
}

legend small {
    padding-top: 5px;
}

.panel-default > .panel-heading > h4 > a,
.panel-default > .panel-heading > h3,
.panel-default > .panel-heading > h3 > small {
    color: #F5F5F5 !important;
}

.panel-default > .panel-heading:hover, .panel-default > .panel-heading:focus {
    /*background-color: #E7E7E7;*/
}

.thumbnail:hover, .thumbnail:focus {
    border-color: #E0679E !important;
}

.thumbnail > iframe {
    width: 100%;
    height: 200px;
}

.right-container .thumbnail {
    margin-bottom: 15px;
    cursor: pointer;
}

.body-content table th {
    width: 134px;
    text-align: center;
}

.news-content .thumbnail {
    max-height: 150px;
    padding: 0;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
}

.course-label {
    cursor: pointer;
}

.course {
    cursor: pointer;
    text-align: center;
    vertical-align: middle !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.course:hover a {
    color: #111111;
}

.course-children {
    background-color: #7ED204;
}

.course-children:hover {
    background-color: #A3E83E;
}

.course-pairs {
    background-color: #038B86;
}

.course-pairs:hover {
    background-color: #34C5BF;
}

.course-latino {
    background-color: #E46805;
}

.course-latino:hover {
    background-color: #F28F40;
}

.course-formation {
    background-color: #C0045A;
}

.course-formation:hover {
    background-color: #E03B86;
}

.course-solo {
    background-color: #E4CE05;
}

.course-solo:hover {
    background-color: #F2E040;
}

.course a {
    /*color: #333333;*/
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}

.course a:hover, .course a:focus {
    text-decoration: none;
    /*color: #111111;*/
}

.course .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.hour {
    width: 60px !important;
}

.schedule a.label {
    margin-top: 0;
    margin-bottom: 0;
}

.alert-danger {
    text-align: center;
    font-weight: bold;
    border: 0;
    color: #C0045A;
    background-color: #f5f5f5;
}

.course .label {
    margin-top: 10px;
}

.video-frame {
    margin-top: 30px;
    margin-bottom: 30px
}

dl.emphasize {
    color: #d31266 !important;
}

.cennik-content .panel {
    margin-bottom: 25px;
}

.tooltip {
    font-family: sans-serif !important;
}

.ui-pnotify h4 {
    color: inherit !important;
    font-weight: bold;
}

.ui-pnotify.stack-bottomright {
    bottom: 25px !important;
    top: auto !important;
}

.ui-pnotify-container.alert .icon-exclamation-sign {
    font-size: 15px;
    margin-top: 2px;
}

table.table-schedule th {
    text-align: left;
}

.team-content {
    margin-top: 50px;
}

.team_member .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

/* team members */
.team_member {
    background: #fff;
    padding: 0 0 5px;
    position: relative;
}

.team_member:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}


.team_member .details {
    border-top: 1px solid #e5e5e5;
    padding: 20px 20px 0;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    position: absolute;
    background: #fff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 11px;
    max-height: 250px;
    overflow: auto;

}

.team_member:hover .details {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.team_member:hover {
    z-index: 2;
}

.team_member h4,
.team_member h6 {
    padding: 0 20px;
}

.team_member div {
    height: 50px;
}

.team_member img {
    margin-bottom: 10px;
}

html, body {
    height: 100%;
}

.modal .modal-body {
    max-height: 450px;
    overflow-y: auto;
}

.schedule-content table tbody td {
    height: 100px;
    font-size: 12px !important;
}

.schedule-content table {
    width: 14% !important;
    float: left
}

.alert-popover {
    margin-top: 25px;
    background-color: white !important;
}

.zapisy-table td {
    font-size: 12px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*#main-menu li {*/
    /*border-top: 4px solid #f8f8f8;*/
/*}*/

/*#main-menu a:hover {*/
     /*margin-top: -8px;*/
 /*}*/

/*#main-menu li.active a:hover {*/
    /*margin-top: 0px;*/
/*}*/

/*#main-menu li.active,*/
/*#main-menu li:hover {*/
    /*border-top: 4px solid #d31266;*/
/*}*/

/*#main-menu li:hover {*/
    /*cursor: pointer;*/
/*}*/

.copyright-left {
    padding-left: 20px
}

.copyright-right {
    text-align: right;
    padding-right: 20px
}

.page        {
    width:100%;
    position: absolute;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0% 		{ transform: rotateZ(0deg); }
    20% 	{ transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40% 	{ transform: rotateZ(17deg); }
    60% 	{ transform: rotateZ(16deg); }
    100% 	{ transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to 		{ transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to 		{ transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from 	{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from 	{ transform:translateX(100%); }
    to 		{ transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from 	{ transform:translateY(100%); }
    to 		{ transform: translateY(0); }
}

/*#main-menu .active > a {*/
    /*background-color: #d31266;*/
    /*color: #f8f8f8;*/
/*}*/

.navbar-fixed-top {
    border-width: 0;
}

/* Core Styles
-------------------------------------------------------------- */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animation-delay-1 {
    animation-delay: 0.1s !important;
}

.animation-delay-2 {
    animation-delay: 0.2s !important;
}

.animation-delay-3 {
    animation-delay: 0.3s !important;
}

.animation-delay-4 {
    animation-delay: 0.4s !important;
}

.animation-delay-5 {
    animation-delay: 0.5s !important;
}

.animation-delay-6 {
    animation-delay: 0.6s !important;
}

.animation-delay-7 {
    animation-delay: 0.7s !important;
}

.animation-delay-8 {
    animation-delay: 0.8s !important;
}

/*TOP HEADER SECTION*/
#top-header {
    background: #222 !important;
    color: rgb(255, 255, 255) !important;
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 10px 0 !important;
    z-index: 1040;
}

.icon-toolbar img {
    float: right;
    height: 30px;
    margin-left: 10px;
    color: white;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#top-header .fa-phone {
    margin-right: 5px;
    margin-top: 10px;
}

#top-header a:hover {
    text-decoration: none;
}

.icon-toolbar img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*MENU HEADER SECTION*/
#menu {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    border-width: 0;
    background-color: white;
    min-height: 40px;
    top: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
}

#menu .subtitle {
    margin-top: 11px;
    margin-left: 11px;
}

#menu .navbar-nav > li,
#menu img,
#menu .navbar-nav > li > a,
a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#menu a {
    color: #d31266;
    font-size: 17px;
    height: 80px;
    padding: 30px 15px;
}

.navbar-brand {
    padding: 10px !important;
}

.navbar-brand img {
    height: 50px;
}

.navbar .navbar-brand {
    padding-top: 5px;
    padding-bottom: 10px;
}

#menu .current_page_item > a {
    background-color: #d31266;
    color: #f8f8f8 !important;
}

#main-menu li {
    border-top: 4px solid white;
}

#main-menu a:hover {
    margin-top: -8px;
}

#main-menu li.current_page_item a:hover {
    margin-top: 0px;
}

#main-menu li.current_page_item,
#main-menu li:hover {
    border-top: 4px solid #d31266;
}

#main-menu li:hover {
    cursor: pointer;
}

/*MENU SMALL ANIMATION*/
#menu.small a {
    height: 40px !important;
    padding: 10px 20px;
}

#menu.small .navbar-brand img {
    height: 40px;
}

#menu.small .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#menu .active > a {
    background-color: #d31266;
    color: #f8f8f8 !important;
}

#main-menu li.active a:hover {
    margin-top: 0px;
}

#main-menu li.active,
#main-menu li:hover {
    border-top: 4px solid #d31266;
}

.news-content > div {
    min-width: 450px;
}

/*.news-content {*/
    /*padding-top: 150px;*/
/*}*/

.cennik-content .dl-horizontal.emphasize {
    margin-top: 20px;
}