/* v1.0 | 20080212 */

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*outline: 0;*/
    /*font-size: 100%;*/
    /*vertical-align: baseline;*/
    /*background: transparent;*/
/*}*/

/*body {*/
    /*line-height: 1;*/
    /*font: 12px / 1.5 Helvetica, Arial, sans-serif;*/
/*}*/

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** **/

/*body {*/
    /*background: #191919;*/
/*}*/

.wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#menu_player {
    width: 940px;
    margin: 40px auto 12px auto;
    padding: 10px;
    color: #aaa;

}

#menu_player li {
    display: block;
    float: left;
    margin-right: 24px;
    font-weight: bold;
    font-size: 14px;
}

#menu_player li a {
    color: #aaa;
    text-decoration: none;
}

#menu_player li a:hover {
    color: #ccc;
    text-decoration: none;
}

#menu_player .fav-link-li{
    float:right;
    margin-right:-15px;
}

#main {
    width: 940px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    background: #2a2a2a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
    -moz-box-shadow: 1px 1px 5px #000000;
    -webkit-box-shadow: 1px 1px 5px #000000;

}

.playlist {
    background: #2f2f2f;
    color: #777;
    margin-left: 180px;
    width: 740px;
    margin-bottom: 36px;
}

.playlist ol {
    list-style: decimal outside none;
    min-height: 100px;
}

.playlist ol li {
    list-style: decimal outside none;
    color: #777777;
}

.playlist li {
    background: #252525;
    height: 19px;
    margin-left: 40px;
    padding: 2px;

}

.playlist li:nth-child(even) {
    background: #2f2f2f;
}

.playlist li a {
    color: #ccc;
    text-shadow: 1px 1px 0 #000000;
    text-decoration: none;
    padding-left: 19px;
}

.playlist li .track-length {
    display: block;
    float: right;
    text-align: right;
    width: 50px;
}

.playlist li .favorite {
    width: 16px;
    display: block;
    float: right;
    text-align: right;
    font-size: 12px;
    cursor: pointer;
    text-shadow: none;

}

.thumb-wall.playlist li .favorite {
    bottom: 0;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 24px;
    height: 36px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 36px;
}

.playlist li .remove-favorite {
    width: 16px;
    display: block;
    float: right;
    text-align: right;
    font-size: 12px;
    cursor: pointer;

}

.favorite:hover {
    color: #fff;
}

.jplayer_playlist_current a {
    color: #ffffcc !important;
}

.playlist li a:hover {
    color: #fff;
    text-decoration: none;
}

#main.thumb-wall {
    background: none;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.playlist.thumb-wall {
    background: none;
    width: 960px;
    margin-left: 0;

}

.playlist.thumb-wall ol {
    width: 960px;
}

.playlist.thumb-wall li {
    display: block;
    float: left;
    width: 230px;
    height: 230px;
    margin: 5px;
    padding: 0 !important;
    background: #ddd !important;
    position: relative;

}

.thumb-wall li a {
    margin: 0;
    padding: 0;
    color: #888;
    text-shadow: 1px 1px 0 #fff;
}

.thumb-wall li a:hover {
    color: #888;
}

.thumb-wall-inner {
    display: block;
    width: 100%;
    height: 146px;
    position: relative;
    font-size: 24px;
    padding-top: 84px;
    text-align: center;

}

.thumb-wall-inner .artist {
    font-size: 14px;
    color: #666;
    display: block;
    margin: 0 auto;
}

.thumb-wall-inner img {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    display:none;
}

.info-thumb {
    float: left;
    padding: 10px;
    text-align: center;
    width: 150px;
    position: relative;

}

.info-thumb img {
    margin: 10px;
    height: 125px;
    width: 125px;
    position: absolute;
    top: 10px;
    left: 10px; /*-webkit-box-reflect: below 0px -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), color-stop(0.9, transparent), to(rgba(255, 255, 255, 0.496094))) 0 0 0 0 stretch stretch; */
}

.info-thumb span.empty {
    margin: 10px;
    height: 105px;
    width: 125px;
    padding-top: 20px;
    background: #bbb;
    display: block;
    font-size: 60px;

}

.thumb-image{
    display:none;
}


/**Player **/

div.jp-interface {
    height: 40px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99999;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    background: #4b4b4b;
    background: -moz-linear-gradient(center bottom, #494949 25%, #5b5b5b 100%);
    font-family: Arial, Helvetica;
}

.jp-controls {
    margin: 0;
    padding: 0;
    font-size: 10px;
    display: inline-block;
    float: left;
}

.jp-controls li {
    height: 25px;
    margin-top: 5px;
    display: block;
    float: left;
}

.jp-controls li a {
    text-decoration: none;
    color: #222;
    display: block;

}

.jp-controls li a:hover {
    text-decoration: none;
}

#jplayer_play, #jplayer_pause {
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px; /*background: -moz-linear-gradient(center top, #FCFCFC 25%, #808487 100%) repeat scroll 0 0 transparent;*/
    background: #686868;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(143, 143, 143)), color-stop(0.95, rgb(212, 212, 212)), color-stop(1, rgb(232, 232, 232)));
    background: -moz-linear-gradient(center bottom, rgb(143, 143, 143) 25%, rgb(212, 212, 212) 95%, rgb(232, 232, 232) 100%);
    border: 1px solid #444;
    font-weight: bolder;
    height: 28px;
    padding-top: 2px;
    text-align: center;
    width: 30px;
    margin: 0 6px;

}

#jplayer_previous, #jplayer_next {
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px; /*background: -moz-linear-gradient(center top, #FCFCFC 25%, #808487 100%) repeat scroll 0 0 transparent;*/
    background: #686868;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(143, 143, 143)), color-stop(0.95, rgb(212, 212, 212)), color-stop(1, rgb(232, 232, 232)));
    background: -moz-linear-gradient(center bottom, rgb(143, 143, 143) 25%, rgb(212, 212, 212) 95%, rgb(232, 232, 232) 100%);
    border: 1px solid #444;
    display: inline-block;
    font-weight: bolder;
    height: 27px;
    padding-top: 3px;
    text-align: center;
    width: 30px;

}

.jp-progress {
    display: inline-block;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 -1px 0 #000;
    -moz-box-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: 0 -1px 0 #000;
    background: none repeat scroll 0 0 #444;
    display: inline-block;
    height: 9px;
    margin: 16px 0 0 36px;
    text-align: left;
    width: 715px;
    float: left;
    position: relative;
}

#jplayer_load_bar {
    display: inline-block;
    height: 9px;
    text-align: right;
    width: 175px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

#jplayer_play_bar {
    border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    background: #ccc;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#929683), to(#505541));
    background: -moz-linear-gradient(center top, #929683 25%, #505541 100%) repeat scroll 0 0 transparent;
    display: inline-block;
    height: 9px;
    text-align: right;
    width: 175px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.button-inner {
    font-size: 18px;
    display: block;
    font-weight: bolder;
    padding-left: 3px;
    text-shadow: 1px 1px 0 #ccc;
    color: #333;
}

#jplayer_pause .button-inner {
    padding-left: 0;
}

.jp-previous .button-inner, .jp-next .button-inner {
    font-size: 12px;
    padding: 3px 0 0 0;
    width: 19px;
    margin: 0 auto;
}

.jp-previous .button-inner {
    text-align: left;
}

.jp-next .button-inner {
    text-align: right;
}

/** Tooltips **/
.thumb-title {
	display:none;
    background:#333;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0.17, rgb(21,21,21)),color-stop(0.9, rgb(51,51,51)));
    background:-moz-linear-gradient(center bottom,rgb(21,21,21) 17%, rgb(51,51,51) 90%);
	font-size:10px;
    color: #ccc;
    text-shadow:1px 1px 0 #000;
	width:218px;
	padding:6px;
    position:absolute;
    left:0;
    text-align:center;
    z-index:100;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    opacity:.9;
}

.thumb-title strong{
    font-size:14px;
}

.jplayer_playlist_current .thumb-title{
    display:inline !important;
    top:90px;
}

.tooltip{
    font-size:10px;
    padding:2px 9px;
    background:-webkit-gradient(linear, left bottom, left top, color-stop(0.17, #888),color-stop(0.9, #ccc));
    background:-moz-linear-gradient(center bottom,#888 17%, #ccc 90%);
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.tmp{
    display:none;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
    zoom: 1;
}