<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Wrocławska szkoła tańca Setenta zaprasza do nowoczesnego studia na zajęcia taneczne! Oferujemy kursy salsy, bachaty, tańca towarzyskiego, użytkowego (disco fox, blues), tańca brzucha, hip-hop, zumba. Dodatkowo zapraszamy najmłodszych na zajęcia dla dzieci - balet, mix dance oraz formacja taneczna."/>
    <meta name="keywords" content="taniec, wrocław, kurs, szkoła, balet, salsa, dance, bachata, ballroom, studenci">
    <meta name="author" content="Paweł Radomski">

    <title>Szkoła tańca Setenta</title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen"/>
    <link href="lib/pnotify/jquery.pnotify.default.css" rel="stylesheet" media="screen"/>
    <link href="css/main.css" rel="stylesheet" media="screen"/>
    <link href="css/animations.css" rel="stylesheet" media="screen"/>
    <link href="css/plugins.css" rel="stylesheet" media="screen"/>
</head>
<body ng-app="SetentaApp">
<header id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <nav class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="."> <img src="img/sys/nav-logo-bold.png"/>
                <img class="subtitle" src="img/sys/subtitle-smallest.png"/></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="main-menu" class="nav navbar-nav navbar-right">

            </ul>
        </div>
    </nav>
</header>

<div class="img-header jumbotron team-header"></div>

<div class="body-cover" ng-controller="ScheduleCtrl" ng-cloak>
    <div class="container schedule main-content staff-content">

        <h2>
            <i class="glyphicon glyphicon-calendar"></i> Grafik
            <span id="icon-toolbar" class="pull-right icon-toolbar"></span>
        </h2>
        <i class="icon-refresh icon-spin pull-left" ng-show="loading"></i>

        <div class="body-content schedule-content" ng-hide="loading">
            <div class="row"></div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal col-xs-12 col-sm-5 pull-right">
                            <div class="form-group" style="margin-bottom: 0px">
                                <label class="col-sm-4 control-label">Typ zajęć:</label>

                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="query.categoryCode">
                                        <option value="">Wszystkie</option>
                                        <option ng-repeat="k in categories" value="{{k.code}}">{{k.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div ng-hide="error" class="row">
                <table class="table table-bordered" ng-repeat="d in days">
                    <thead>
                    <tr>
                        <th>{{d.label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="repeat-item"
                        ng-repeat="c in classes | filter:{day : d.code, style.category.code: query.categoryCode}"
                        repeat-done="popover()">
                        <td class="cell class-{{c.style.category.code}} popover-link" data-toggle="popover"
                            data-content="{{opis(c)}}">
                            <strong>{{c.startTime}} - {{c.endTime}}</strong>
                            <br/>
                            {{c.style.name}}
                            <span ng-if="c.level=='BEGINNER'">P</span>
                            <span ng-if="c.level=='INTERMEDIATE'">S</span>
                            <span ng-if="c.level=='ADVANCED'">Z</span>
                            <br/>

                            <div ng-show="c.canJoin" class="label label-success">DOŁĄCZ</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div ng-show="error" class="alert alert-warning" style="text-align: center">
                <i class="icon-warning-sign"></i>
                Wystąpił problem z pobraniem danych
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>
<div id="contact-modal"></div>

<script src="lib/jquery/jquery-latest.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/pnotify/jquery.pnotify.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>
<script src="js/app.js"></script>
<script src="js/utils.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>

<script>
    $(function () {
        $("#main-menu").load("include-menu.html");
        $("#fb-box").load("include-fb.html");
        $("#footer").load("include-footer.html");
        $("#contact-modal").load("include-contact-modal.html");
        $("#icon-toolbar").load("include-icon-toolbar.html");
    });
</script>
</body>
</html>