<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">BARBARA RADOMSKA (KARPIŃSKA)</h4>
</div>
<div class="modal-body">
    <p>
        Jako siedmioletnia dziewczynka dołączyła do zespołu „Laset” w Lesznie, gdzie rozpoczęła swoją przygodę z tańcem
        towarzyskim, która trwała przez 9 lat.
        W międzyczasie, w liceum występowała jako cheerleaderka. Na studiach próbowała swoich sił w innych stylach
        tanecznych takich jak hip-hop czy taniec brzucha.
        <br/><br/>
        W 2006 roku rozpoczęła pracę jako <strong>instruktor tańca we Wrocławiu</strong>.
        2008 rok przyniósł fascynację bachatą i salsą - początkowo salsą Los Angeles, z czasem zainteresował ją styl
        salsy casino oraz rumba kubańska.
        Razem ze swoim partnerem Pawłem Radomskim bierze udział w licznych kongresach salsy i bachaty w kraju i za
        granicą.
        <br/><br/>
        Obecnie jest <strong>zawodowym trenerem IDO</strong> formacji młodzieżowej oraz <strong>liderką wrocławskiego
        zespołu pokazowego "El-Fuego"</strong>, który prowadzi od 2009 roku.
        Posiada doświadczenie sceniczne w teatrze tańca podczas występów w <strong>pantomimie i spektaklach</strong>.
        <br/><br/>
        Z wykształcenia <strong>choreograf taneczny</strong> oraz <strong>animator kultury</strong>, ukończyła Studium
        Kształcenia Animatorów Kultury i Bibliotekarzy we Wrocławiu. </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>