<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">JULIA UTIG</h4>
</div>
<div class="modal-body">
    <p>
        Julia posiada <strong>międzynarodowy certyfikat tańca sportowego</strong> i wszechstronne doświadczenie.
        Ma za sobą ponad 5-letni staż instruktorski nauki tańca dzieci i młodzieży.
        Poznała wszystkie podstawowe formy tańca od <strong>baletu i jazzu przez taniec irlandzki, bollywood,
        towarzyski, nowoczesny, broadway, hip hop oraz całą paletę tańców karaibskich i afrykańskich</strong>.
        Na swoim koncie ma wiele występów, warsztatów prowadzonych w Polsce i za granicą.
        Brała udział w różnych konkursach z czego najmilej wspomina konkurs reggaetonowy i kwalifikacje do
        międzynarodowego <strong>Bachata Kings 2013</strong>.
        <br/><br/>
        Rozwój umiejętności zawdzięcza także <strong>pobytowi w Hiszpanii</strong>, gdzie podjęła współpracę z grupami
        tanecznymi (<strong>formacji zoukowej i salsy liniowej</strong>) oraz międzynarodowymi partnerami.
        Sama wciąż systematycznie szkoli się i bierze aktywny udział na nieliczonej ilości festiwalach, kongresach i
        warsztatach.
        <br/><br/>
        Na zajęciach ceni sobie indywidualne podejście do kursanta. </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>