<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">MARTA BRENDEL</h4>
</div>
<div class="modal-body">
    <p>
        Absolwentka Akademii Muzycznej im. Grażyny i Kiejstuta Bacewiczów w Łodzi, wydziału wokalno-aktorskiego,
        specjalizacji choreografia i techniki tańca.
        <br/><br/>
        Tancerz kontraktowy <strong>Teatru Muzycznego Capitol</strong> we Wrocławiu.
        <br/><br/>
        Instruktor tańca z wieloletnim doświadczeniem, tancerz, choreograf.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>