<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">MARTA "MOSTEK" MOŚCICKA</h4>
</div>
<div class="modal-body">
    <p>
        Marta jest absolwentką Uniwersytetu Ekonomicznego we Wrocławiu oraz <strong>dyplomowanym instruktorem
        tańca</strong> o specjalizacji hip hop.
        <br/><br/>
        W wieku siedmiu lat zaczęła uczęszczać na zajęcia <strong>tańca towarzyskiego</strong> w szkole pana
        Leonarda Czarko, a następnie swoja naukę kontynuowała pod okiem Lidki i Zbyszka Kulewiczów w klubie
        "Aktan". Swoją pasją do hip hopu zaraził ją Krzysztof Mazur: tańczyła najpierw w szkole tańca "Flex",
        następnie w grupie „ Scandal”. Obecnie jest <strong>tancerką i choreografem</strong> w zespole "Yes Yes
        Y’all", <strong>trenerem</strong> zespołu „That’s right" Wrocław oraz „Chilli" Wałbrzych, asystent
        Krzysztofa Mazura podczas czterech pierwszych edycji programu <strong>„You can dance"</strong>.
        Wielokrotna <strong>finalistka Mistrzostw Polski</strong> w hip hopie.
        <br/><br/>
        Tańczyła w przedsięwzięciu <strong>„One Year To Go” EURO 2012</strong> oraz była tancerzem Ceremonii
        Przedmeczowych na Euro 2012 na Stadionie Miejskim we Wrocławiu. Podczas pobytu w Paryżu została zaangażowana do
        klipu najlepszej amerykańskiej ekipy hip hopwej <strong>Elite Force Crew</strong> razem z najlepszymi tancerzami
        z całego świata.
        <br/><br/>
        Uczestniczka wielu międzynarodowych szkoleń tanecznych oraz spotkań hip hopowych w kraju jak i zagranicą (m.in.
        Style is King – Szwajcaria oraz Juste Debout – Paryż) podczas których miała okazję uczyć się od światowej klasy
        instruktorów takich jak: <strong>Moncell "Ill Cosby", Henry Link, Buddha Stretch, Brooklyn Terry, Brian Green,
        Mr Wiggles, Caleaf, Bobby Mileage, Greg Campbellock Jr., Don Campbellock, Sabela Grimes, Tweetie Boogie, Laura
        Courtellemont, Lil C, Peggy Kubler, Jenn "1 LoVE", Alassane Wat, Loose Joint, Boogaloo Sam, Archie Burnett,
        Yoshie, Hiro, Shannon Mabra, Babson oraz Filip Czeszyk</strong>. </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>