<div class="img-header team-header jumbotron">
    <div class="container">
        <img src="img/sys/1.png" alt="salsa wrocław"/>
        <img src="img/sys/2.png" alt="taniec towarzyski wrocław"/>
        <img src="img/sys/3.png" alt="taniec dzieci wrocław"/>
        <img src="img/sys/4.png" alt="pierwszy taniec wrocław"/>
    </div>
</div>

<div class="body-cover">
    <div class="container main-content staff-content">
        <div class="body-content news-content">
            <h2>&nbsp;</h2>
            <h2>
                <i class="glyphicon glyphicon-fire"></i> Aktualności
                <span id="icon-toolbar" class="pull-right icon-toolbar"></span>
            </h2>
            <div class="col-sm-7">
                <div ng-repeat="new in news | orderBy: startTime" class="repeat-item">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend>
                                <h4>
                                    {{new.title | uppercase}}
                                    <small class="pull-right">{{new.createdAt}}</small>
                                </h4>
                            </legend>
                            <div class="media">
                                <span class="thumbnail">
                                    <img class="media-object" src="{{new.imageSrc}}" alt="{{new.imageAlt}}"/>
                                </span>
                                <div class="media-body" ng-bind-html="new.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>