<div class="img-header jumbotron">
    <div class="container">
        <img src="img/sys/1.png" alt="salsa wrocław"/>
        <img src="img/sys/2.png" alt="taniec towarzyski wrocław"/>
        <img src="img/sys/3.png" alt="taniec dzieci wrocław"/>
        <img src="img/sys/4.png" alt="pierwszy taniec wrocław"/>
    </div>
</div>

<div class="body-cover">
    <div class="container main-content staff-content">
        <div class="body-content">
            <div class="row icon-row">
                <span id="icon-toolbar" class="pull-right icon-toolbar col-xs-12 col-md-4">
                    <span class="icon-tooltips pull-right">
                        <a title="Znajdź nas na Facebooku!" data-placement="left" href="https://www.facebook.com/setenta.taniec" target="_blank">
                            <img src="img/icons/facebook.png"/>
                        </a>
                        <a title="Nasz profil w Google+!" data-placement="left"
                           href="https://www.google.com/+Szko%C5%82aTa%C5%84caSetentaWroc%C5%82aw" target="_blank">
                            <img src="img/icons/gplus.png"/>
                        </a>
                        <a title="Nasz profil na Twitterze!" data-placement="left" href="https://twitter.com/SetentaTaniec" target="_blank">
                            <img src="img/icons/twitter.png"/>
                        </a>
                        <a title="Subskrybuj nasz kanał na Youtube!" data-placement="left"
                           href="http://www.youtube.com/channel/UCKV_dE-yr7d7k1SeBW_-ikg" target="_blank">
                            <img src="img/icons/youtube.png"/>
                        </a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>