<div ng-init="mapInit()" class="map" id="mapka"></div>

<div class="body-cover">
    <div class="container contact-content main-content staff-content">
        <h2>
            <i class="glyphicon glyphicon-map-marker"></i> Kontakt
            <span id="icon-toolbar" class="pull-right icon-toolbar"></span>
        </h2>

        <div class="col-sm-6 col-xs-12 body-content">
            <address>
                <strong>Szkoła tańca Setenta<br/>
                    Barbara Radomska</strong><br/>
                ul. Sienkiewicza 6A<br/>
                50-335 Wrocław<br/>

                <h4>
                    <i class="glyphicon glyphicon-phone-alt"></i> 695 081 437 </h4>
                <h4>
                    <a href="mailto:barbara.karpinska@setenta.wroclaw.pl">
                        <i class="glyphicon glyphicon-envelope"></i>
                        kontakt@setenta.wroclaw.pl
                    </a>
                </h4>
            </address>
        </div>
        <div class="col-sm-6 col-xs-12 pull-right right-container">
            <a class="thumbnail"> <img class="media-object" src="img/photos/lewitacja1.jpg" alt="zespół pokazowy"/> </a>
        </div>
    </div>
</div>