<div class="team-header img-header jumbotron"></div>

<div class="body-cover">
    <div class="container main-content staff-content">
        <h2>
            <i class="glyphicon glyphicon-bullhorn"></i> Pokazy tańca
            <span id="icon-toolbar" class="pull-right icon-toolbar"></span>
        </h2>

        <div class="col-md-8 col-sm-7 col-xs-12 body-content shows-content">
            <div class="col-xs-12">
                <p>
                    Naszymi klientami są agencje artystyczne, promocyjno-eventowe, agencje modeli i modelek, ośrodki
                    hotelowe, a także managerowie galerii handlowych, samodzielne firmy oraz osoby prywatne.</p>

                <p>Od 2009 roku uświetniamy firmowe imprezy, wesela oraz festyny. Występowaliśmy podczas pokazów mody w
                    galeriach handlowych.
                </p>

                <!--<p>Zapraszamy na stronę internetową naszego zespołu: <a-->
                        <!--href="http://www.el-fuego.pl">www.el-fuego.pl</a></p>-->

                <p>
                    Zachęcamy również do obejrzenia jednej z naszych ostatnich realizacji - profesjonalnego pokazu mody
                    z elementami akrobatyki i tańca:
                </p>

                <p class="text-center video-frame">
                    <iframe class="col-xs-12" width="560" height="400" src="//www.youtube.com/embed/hUYLxSIiNbA"
                            frameborder="0" allowfullscreen></iframe>
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12 pull-right right-container">
            <a class="thumbnail"> <img class="media-object" src="img/photos/akrobaci.jpg" alt="pokazy akrobatów"/> </a>
        </div>
    </div>
</div>